#!/bin/zsh

set -e

{{ if eq .chezmoi.os "darwin" }}

brew bundle --file=/dev/stdin <<EOF

# core cli
brew "eza"
brew "ccat"
brew "colordiff"
brew "grep"
brew "gnu-sed"
brew "jq"
brew "yq"
brew "wget"
brew "zoxide"
brew "git-delta"
brew "macchina"
brew "yazi"

# dev tools
brew "gitui"
brew "ghq"
brew "gibo"
brew "tfenv"
brew "volta"
brew "awscli"
brew "aws-vault"
brew "jwt-cli"
brew "lua-language-server"

# gen AI
brew "gemini-cli"

# cloud native
brew "k9s"
brew "kubernetes-cli"

# shell
brew "fzf"
brew "starship"
brew "neovim"

# applications

## browser
cask "zen"

## communications
cask "microsoft-teams"
cask "slack"

## utils
cask "raycast"
cask "stats"
cask "proton-mail"
cask "proton-pass"
cask "utm"

## IDE
cask "visual-studio-code"
cask "zed"
cask "kiro"
cask "antigravity"

## docker
cask "orbstack"

## terminal
cask "ghostty"

# fonts
cask "font-symbols-only-nerd-font"
cask "font-hack-nerd-font"
cask "font-monaspace"
EOF

{{ end }}

