#!/bin/zsh
set -e

{{- if eq .chezmoi.os "darwin" -}}
{{ $brewfilePath := joinPath .chezmoi.sourceDir "Brewfile" }}
# {{ include $brewfilePath | sha256sum }}
brew bundle install --file={{ $brewfilePath }} 
{{- end -}}
